// Global Variables

// Container
$container-width-xxl: 1350px;
$container-width-xl: 1170px;
$container-width-lg: 990px;
$container-width-md: 750px;
$container-width-sm: 570px;
$container-width-xs: 100%;

// Padding
$container-padding: 15px;
$container-padding-sm: 10px;
$container-padding-xs: 5px;

$section-padding: 80px;

// Font
$font-main: "Roboto", sans-serif;
$font-second: "Poppins", sans-serif;
$font-third: "SedgwickAveDisplay", sans-serif;
$font-fourth: "Nunito", sans-serif;

// Color
$bg-light-grey: #f5f5f5;
$font-color: #333;
$light-grey: #e0e0e0;
$dark-grey: #454545;
$blue-accent: #4a90e2;
$blue-light: #04c2c9;
$blue-bar: #00a1a7;
$white: #fff;
$black: #000;
$blue-btn-accent: #007bff;
$block-grey: #d3d3d3;
$orange: #ff6600;
$green: #66BB6A;
