.hero {
    background-color: $light-grey;
    min-height: 100vh;
    @include flex-center;
    padding: 100px 0;

    position: relative;
    clip-path: polygon(50% 100%, 100% 75%, 100% 0, 0 0, 0 75%);

    &__wrapper {
        @include flex-center-between;

        &-content {
            font-family: $font-second;
            font-size: 24px;
            font-weight: 500;

            padding: 40px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            background-color: $block-grey;
            border-radius: 14px;
        }

        &-img {
            object-fit: cover;
        }
    }

    &__text {
        font-size: 40px;

        span {
            font-size: 50px;
            font-weight: 700;
            color: $blue-btn-accent;
        }
    }

    &__title {
        span {
            font-weight: 600;
            color: $orange;
        }
    }

    &__btn-about {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;
        height: 80px;
        width: 50px;
        bottom: 0;
        left: calc(50% - 25px);
    }
}