.icon {
    width: 60px;
    height: 60px;
    fill: $white;
}

.icon--arrow-down {
    position: relative;
    margin-top: 3px;
    height: 27px;
    width: 2px;
    background-color: $dark-grey;

    transition: all 0.2s;

    &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: -4px;
        width: 10px;
        height: 10px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid $dark-grey;
        opacity: 0;

        transition: opacity 0.3s 0.2s;
    }
}

.icon--arrow-right {
    width: 20px;
    height: 20px;
    fill: $white;

    padding-top: 2px;

    transition: all 0.2s ease-in-out;
}

.icon--code,
.icon--responsive,
.icon--fast,
.icon--intuitive {
    width: 60px;
    height: 60px;
    fill: $white;
}
