.nav {
    &__list {
        @include flex-center;
        gap: 40px;
        font-family: $font-second;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
    }

    &__item {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 1px;
            background-color: $font-color;
            transition: width 0.3s;
        }

        &:hover::after {
            width: 100%;
        }

        &-link {
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $font-color;
            }
        }
    }
}
