.title-2 {
    font-family: $font-second;
    font-size: 32px;
    font-weight: 700;
    color: $font-color;
    text-align: center;
}

.title-3 {
    font-family: $font-second;
    font-size: 22px;
    font-weight: 600;
    color: $font-color;
    text-align: center;
}

.title-4 {
    font-family: $font-second;
    font-size: 18px;
    font-weight: 600;
    color: $font-color;
}